name: Generate terraform docs
on:
  pull_request:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Render terraform docs
        if: github.actor != 'dependabot[bot]'
        uses: terraform-docs/gh-actions@v1.4.1
        with:
          working-dir: .,./examples/basic,./examples/replicated,./examples/ephemeral
          git-push: "true"
